body { display: grid; place-items: center; gap: 25px; grid-template-rows: auto 1fr auto; margin: 0; padding: 20px;
    font-family: "Tahoma", sans-serif; font-size: 18px; line-height: 20px; min-height: 95vh;
    background: fixed url("img/bg.jpg") center no-repeat; background-size: cover; }
@media  only screen and (max-device-width: 768px) { body { background-position: 30% 100%; } }
.visually-hidden { visibility: hidden; }
.hidden { display: none; }

header { margin-left: auto; }
.links ul { display: flex; gap: 10px; list-style: none; margin: 0; padding: 0; }
@media  only screen and (max-device-width: 768px) { .links ul { flex-direction: column; } }
.header-link-button { display: flex; align-items: center; justify-content: center; height: 45px; width: 150px; background-color: #010409; }
.links a { font-size: 14px; text-decoration: none; color: #FFFFFF; }
a:hover { color: #A75BAC; }
a:visited { color: #c381c8; }

@media  only screen and (max-device-width: 768px) { main { width: 90%; } }
@media  only screen and ((min-device-width : 768px) and (max-device-width : 1024px)) { main { width: 70%; } }
@media  only screen and (min-width: 1024px) { main { width: 40%; } }

.task-manager { width: 100%; border: 1px solid #D2CDA8; }

h1 { margin: 0; padding: 20px 16px 22px; text-align: center; font-size: 22px; line-height: 22px;
    letter-spacing: 0.5px; font-weight: normal; text-transform: uppercase; color: #222422; }
.todo-list { margin: 0 0 20px; padding: 0; list-style: none; }
.todo-list-item { margin-bottom: 10px; padding: 16px; background-color: rgba(210, 205, 168, 0.8); color: #222422; }
.todo-list-item span { display: flex; align-items: center; }
.todo-list-input + span::before { content: ""; display: inline-block; width: 16px; height: 16px; margin-right: 10px;
    background-color: transparent; border: 2px solid #222422; border-radius: 5px; }
.todo-list li.is-important .todo-list-input + span::before { border-color: #fff; }
.todo-list-input:not(:checked):hover + span::before, .todo-list-input:not(:checked):focus + span::before {
    background-color: rgba(34, 36, 34, 0.2); }
.todo-list li.is-important .todo-list-input:not(:checked):hover + span::before,
.todo-list li.is-important .todo-list-input:not(:checked):focus + span::before {
    background-color: rgba(255, 255, 255, 0.2); }
.todo-list li.is-important { font-weight: bold; color: #fff; background-color: rgba(131, 24, 9, 0.8); }
.todo-list-input { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; white-space: nowrap;
    border: 0; clip: rect(0 0 0 0); clip-path: inset(100%); }

.empty-tasks { color: #831809; margin-left: 10px; }

.todo-form { padding: 0 16px; display: flex; flex-direction: column; }
.input-label {margin: 15px 0; line-height: 12px; color: #465A45; }
.todo-input { margin-bottom: 12px; padding: 10px 12px; line-height: 20px; border-radius: 4px; border: 1px solid #222422; }
.todo-form button { margin-bottom: 6px; margin-right: auto; line-height: 16px; letter-spacing: 0.5px; text-transform: uppercase;
    border: none; border-radius: 4px; padding: 10px 30px; cursor: pointer; }
.todo-priority { position: relative; padding: 12px 22px 12px 44px; color: #222422; background-color: transparent;
    display: flex; align-items: center; }
.todo-priority::before { position: absolute; content: ""; left: 5px;
    width: 18px; height: 20px; background-image: url("img/toggle.png"); background-repeat: no-repeat; background-size: contain; }
.todo-priority.is-important { font-weight: bold; color: #831809; }
.todo-priority.is-important::before { background-image: url("img/togglered.png"); background-repeat: no-repeat; background-size: contain; }

.todo-add-button { padding: 12px 22px; color: #ffffff; background-color: #465A45; }
.todo-input:focus, .todo-form button:focus { outline: 3px solid #bac9f7; outline-offset: 0; }
.todo-priority:hover { background-color: #edf1fd; }
.todo-priority:active { background-color: #e3eafc; opacity: 0.5; }
.todo-add:hover { background-color: #465A45; }
.todo-add:active { opacity: 0.5; }

footer { margin-right: auto; }
footer a { text-decoration: none; color: #52275E; }